// Responsive Sizes
$tablet 		: 45em; // 720px
$laptop 		: 60em; // 960px
$desktop 		: 80em; // 1280px

// Admin Bar
$wp_admin_bar 	: 48.875em; // 782px

// Sidebar Variables
$size__site-main: 100%;
$size__site-sidebar: 25%;
